<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="Resources/Style/CustomForm.css">
</head>
<body>



	<div class="section" ng-init="FormState=false">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center">
					<div class="section text-center">
						<div class="d-flex justify-content-center h6">
							<div class="fbtn c-pointer m-3 {{FormState?'text-light':''}}" ng-click="FormState=false">Đăng nhập</div>
							<div class="fbtn c-pointer m-3 {{FormState?'':'text-light'}}"  ng-click="FormState=true">Đăng Ký</div>
						</div>
					  	<input class="checkbox d-none" type="checkbox" ng-model="FormState"/>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper" ng-init="Validation()">

								<form class="card-front" method="post" ng-init="uSignIn" ng-submit="User('SignIn', uSignIn)">
									<div class="center-wrap px-4 px-sm-5">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Đăng nhập</h4>
											<div class="form-group">
												<input type="email" class="form-style" placeholder="Địa chỉ email" ng-model="uSignIn.email" required>
												<i class="input-icon bi bi-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" class="form-style" placeholder="Mật khẩu" ng-model="uSignIn.password" required>
												<i class="input-icon bi bi-shield-lock"></i>
											</div>
											<div class="form-check form-switch mt-2 d-flex">
												<input class="form-check-input" type="checkbox" role="switch" id="rdoRM" ng-model="uSignIn.remmember">
												<label class="form-check-label ms-2" for="rdoRM">Ghi nhớ tôi ?</label>
											</div>
											<button class="btn mt-4">Đăng nhập</button>
											<p class="mb-0 my-4 text-center"><a href="#0" class="link">Quên mật khẩu ?</a></p>
											<p class="mb-0 text-center">
												<a href="#!AChat" class="link" ng-click="Anonymous('SignUp')">Đăng nhập bằng thiết bị này</a>
											</p>
					  					</div>
				  					</div>
				  				</form>

								<form class="card-back" method="post" ng-init="uSignUp" ng-submit="User('SignUp', uSignUp)" name="SignUpForm">
									<div class="center-wrap px-4 px-sm-5">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Đăng ký</h4>
											<div class="form-group">
												<input type="text" class="form-style" placeholder="Họ và tên" ng-model="uSignUp.fullname" required max="64">
												<i class="input-icon bi bi-person"></i>
											</div>
											<div class="form-group mt-2">
												<input type="email" class="form-style" placeholder="Địa chỉ email" ng-model="uSignUp.email" required max="256">
												<i class="input-icon bi bi-at"></i>
											</div>
											<div class="form-group mt-2">
												<input type="password" class="form-style" placeholder="Mật khẩu" required name="SUpassword"
												ng-model="uSignUp.password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/">
												<i class="input-icon bi bi-shield-lock"></i>
												<div class="form-text text-start text-light mt-2">
													<i class="bi bi-lightbulb me-2"></i>Mật khẩu phải dài ít nhất 8 ký tự, chứa ít nhất 1 ký tự hoa, thường, số và ký tự đặc biệt...
												</div>
											</div>
											<button class="btn mt-4" ng-disabled="!SignUpForm.SUpassword.$valid">Đăng ký</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>