<!DOCTYPE html>
<html lang="en">
<body>

	
	
	<!-- Thanh chức năng, hiển thị Avatar, TextArea, Images, Emoji, Send. -->
	<div class="d-flex justify-content-center align-items-center position-relative mb-2 mx-auto col-12 col-xl-9">
		<!-- Nút đi xuống tin nhắn mới nhất. -->
		<button class="button-GoDown position-absolute top-0 start-50 translate-middle" 
			ng-hide="$parent.isScrollBottom" ng-click="$parent.isScrollBottom = true">
			<i class="bi bi-arrow-down fw-bloder fs-5"></i>
		</button>

		<!-- Avatar và khung chat. -->
		<!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp" 
			class="d-none d-sm-block" style="width: 40px;"> -->
		<textarea class="form-control form-control-lg" placeholder="Type message" id="txtText" rows="1"
			style="resize: none; max-height: 150px;" oninput="auto_grow(this)" onblur="auto_grow(this)"
			ng-model="$parent.TypingText" ng-keypress="SendMessageOnEnter($event)"></textarea>

		<!-- Các icon: Images, Menu emoji, Send. -->
		<i class="bi bi-images ms-2 text-primary fw-blod fs-3 c-pointer" id="upload_widget" ng-show="!isAnonymous"></i>
		<i class="bi bi-images ms-2 text-muted fw-blod fs-3 c-notAllowed d-none d-md-block" ng-show="isAnonymous"
			data-bs-toggle="tooltip" data-bs-title="Tính năng này chỉ dành cho người dùng đăng kí"></i>
		<div class="dropup dropstart">
			<i class="bi bi-emoji-heart-eyes ms-2 fw-blod fs-3 c-pointer" style="color: #ffde34;" 
				data-bs-toggle="dropdown" data-bs-auto-close="outside"></i>
			<div class="dropdown-menu m-0 p-0" ng-init="LoadEmojiMenu()" id="EmojiMenu"></div>
		</div>
		<i class="bi bi-send-fill ms-2 text-success fw-blod fs-3 c-pointer" ng-click="SendMessage()"></i>
	</div>



</body>
</html>