<!DOCTYPE html>
<html lang="en">
<body>



	<!-- Các cuộc trò chuyện. -->
	<ul class="list-unstyled list-group list-group-flush">
		<li class="list-group-item p-0 pb-2" ng-repeat="Chat in MyAccount.listChats">
			<a href="" class="d-flex justify-content-between text-decoration-none c-pointer" ng-click="changeView(Chat);">
				<div class="d-flex flex-row">
					<img width="60" ng-src="{{GenAvatar(Chat)}}">
					<div class="ms-2 pt-3" ng-init="name = !Chat.fullname ? 'Người lạ' : Chat.fullname">
						<p class="fw-bold mb-0">{{name}}</p>
						<p class="small text-muted">Đây là khởi đầu với {{name}}</p>
					</div>
				</div>
				<!-- <div class="pt-1 d-none d-xs-block">
					<p class="small text-muted mb-1">{{'2023/07/06' | date : 'HH:mm' : 'GMT+7'}}</p>
					<span class="badge bg-danger rounded-pill float-end">3</span>
				</div> -->
			</a>
		</li>
	</ul>



</body>
</html>