<!DOCTYPE html>
<html lang="en">
<body>



	<!-- Form thay đổi thông tin tài khoản  -->
	<form class="needs-validation" id="UpdateAccForm" novalidate ng-init="Validation()" ng-submit="UserAcc()">

		<!-- Email -->
		<div class="mb-3" ng-show="MyAccount.password">
			<label for="txtEmail" class="form-label">Địa chỉ Email</label>
			<input type="email" class="form-control" id="txtEmail" placeholder="achatEmail@achat.me"
				ng-model="MyAccount.email" ng-disabled="isAnonymous" ng-required="!isAnonymous">
			<div class="form-text">Địa chỉ email giúp xác định quyền sở hữu tài khoản này của bạn.</div>
			<div class="invalid-feedback">Vui lòng điền địa chỉ email.</div>
		</div>

		<!-- Fullname -->
		<div class="mb-3">
			<label for="txtFullname" class="form-label">Tên đầy đủ</label>
			<input type="text" class="form-control" id="txtFullname" placeholder="achatFullname" required
				ng-model="MyAccount.fullname">
			<div class="form-text">Tên đầy đủ sẽ giúp chúng tôi dễ dàng xưng hô với bạn.</div>
			<div class="invalid-feedback">Vui lòng điền tên đầy đủ.</div>
		</div>

		<!-- Password -->
		<div class="mb-3" ng-show="MyAccount.password">
			<label for="txtPassword" class="form-label">Mật khẩu</label>
			<input type="password" class="form-control" id="txtPassword" placeholder="achatPassword"
				ng-init="cfPass=null" ng-model="cfPass" ng-disabled="isAnonymous" ng-required="!isAnonymous"
				ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/">
			<div class="form-text">Mật khẩu giúp xác thực quyền truy cập vào tài khoản của bạn.</div>
			<div class="invalid-feedback">Vui lòng điền mật khẩu.</div>
		</div>

		<button class="btn-Purple w-100 mt-4" type="submit" ng-show="cfPass == MyAccount.password">Cập nhật</button>
		<button class="btn btn-secondary w-100 mt-4" disabled ng-show="cfPass!=MyAccount.password">Cập nhật</button>
		<div class="form-text" ng-hide="MyAccount.password">
			Tài khoản thiết bị chỉ có thể đăng nhập tại 1 địa chỉ IP.<br>
			Để đồng bộ dữ liệu và sử dụng trên nhiều thiết bị, vui lòng:<br>
			<b class="text-danger">Huỷ kích hoạt tài khoản</b> này và <a href="#!Account" target="_blank">Đăng kí tài khoản bằng địa chỉ email</a>
		</div>

	</form>

	<button class="btn-Error w-100 mt-5 mb-3" ng-click="Deactivate(false,null,null)">Huỷ kích hoạt tài khoản</button>


</body>
</html>