<!DOCTYPE html>
<html lang="en">
<body>



	<div class="row m-0 p-0 my-4">
		<div class="col-12 h5 text-center mb-3 text-info-emphasis">Đăng nhập tài khoản...</div>
		<div class="col-12 col-sm-6">
			<button class="btn-Blue m-1 w-100" ng-click="Anonymous('SignUp')" data-bs-dismiss="modal">
				Bằng thiết bị này
			</button>
		</div>
		<div class="col-12 col-sm-6">
			<button class="btn-Purple m-1 w-100" data-bs-dismiss="modal">
				<a href="#!Account" class="text-reset text-decoration-none">Bằng địa chỉ Email.</a>
			</button>
		</div>
	</div>



</body>
</html>