<!DOCTYPE html>
<html lang="en">
<body class="bg-purple">



	<!-- Modal -->
	<!-- Modal thường -->
	<button class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#Modal" id="btnModal"></button>
	<div class="modal fade" id="Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Thông báo</h1>
					<button class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">{{Notification}}</div>
				<button class="btn btn-secondary m-3 mt-5" data-bs-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>



	<!-- Modal FA_ACTIVATED -->
	<!-- Lỗi Tài khoản / Thiết bị đã bị vô hiệu hoá -->
	<button class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#Modal_FA_ACTIVATED" id="FA_ACTIVATED"></button>
	<div class="modal fade" id="Modal_FA_ACTIVATED" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5 text-danger-emphasis mx-auto">{{Notification}}</h1>
				</div>
				<div class="modal-body">
					Các lý do phổ biến cho việc hủy kích hoạt Thiết bị / Tài khoản bao gồm:
					<ul>
						<li>Vi phạm Nguyên tắc cộng đồng của AChat.</li>
						<li>Chúng tôi nhận thấy các hoạt động bất thường của bạn.</li>
						<li>Chúng tôi nhận được báo cáo về bạn.</li>
						<li>Bạn đã yêu cầu đóng tài khoản.</li>
					</ul>
					<a href="#!ContactUs" class="link-info" target="_blank">Liên hệ chúng tôi</a> nếu bạn có câu hỏi hoặc muốn kích hoạt lại tài khoản.
					<br><a href="#!Account" class="link-info" target="_blank">Đăng nhập</a> bằng tài khoản khác nếu bạn muốn tiếp tục sử dụng dịch vụ.
				</div>
				<button class="btn btn-secondary m-3 mt-5" data-bs-dismiss="modal">Đã hiểu</button>
			</div>
		</div>
	</div>



	<!-- Modal Huỷ kích hoạt tài khoản -->
	<button class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#Modal_Deactivate" id="Deactivate"></button>
	<div class="modal fade" id="Modal_Deactivate" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title h4 text-danger-emphasis mx-auto">Huỷ kích hoạt tài khoản</h1>
				</div>
				<div class="modal-body">
					Huỷ kích hoạt tài khoản bạn sẽ <strong class="text-danger">MẤT</strong>:
					<ul class="text-danger">
						<li>Mọi quyền truy cập đối với tài khoản email.</li>
						<li>Mọi dữ liệu đối với tài khoản thiết bị.</li>
					</ul>
					<div class="form-text mb-3">
						Xác nhận lại thông tin tài khoản để chắc chắn rằng đó là mong muốn của bạn.<br>
						Trong trường hợp thông tin không chính xác, chúng tôi sẽ đăng xuất Tài khoản / Thiết bị này để bảo vệ an toàn dữ liệu của bạn.
					</div>

					<!-- Form xác nhận huỷ kích hoạt tài khoản -->
					<form class="text-start" ng-submit="Deactivate(true, EmailIP, Pass)">

						<!-- Email -->
						<div class="mb-3">
							<label for="txtCFEmail" class="form-label">Địa chỉ {{isAnonymous?'IP':'Email'}}</label>
							<input type="text" class="form-control" id="txtCFEmail" required ng-model="EmailIP"
							placeholder="Xác nhận địa chỉ {{isAnonymous?'IP':'Email'}}">
							<div class="invalid-feedback">Vui lòng xác nhận lại địa chỉ {{isAnonymous?'IP':'Email'}} của bạn.</div>
							<div class="form-text" ng-show="isAnonymous">
								Địa chỉ IP của tôi là gì ? <a href="https://api.ipify.org" target="_blank">Xem tại đây</a>.
							</div>
						</div>

						<!-- Password -->
						<div class="mb-3" ng-show="!isAnonymous">
							<label for="txtCFPassword" class="form-label">Mật khẩu</label>
							<input type="password" class="form-control" id="txtCFPassword" placeholder="Xác nhận mật khẩu" 
							ng-model="Pass" ng-disabled="isAnonymous == true" ng-required="!isAnonymous">
							<div class="invalid-feedback">Vui lòng xác nhận lại mật khẩu của bạn.</div>
						</div>

						<div class="d-flex mt-5">
							<button class="btn-Error w-100 fs-6" type="submit">Huỷ kích hoạt tài khoản</button>
							<button class="btn btn-secondary ms-3" type="reset" data-bs-dismiss="modal">Thoát</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>



	<!-- Modal OUT_CHATS -->
	<!-- Rời khỏi cuộc trò chuyện -->
	<button class="btn btn-primary visually-hidden" data-bs-toggle="modal" data-bs-target="#Modal_OUT_CHATS" id="OUT_CHATS"></button>
	<div class="modal fade" id="Modal_OUT_CHATS" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5 text-danger-emphasis mx-auto">Rời khỏi cuộc trò chuyện</h1>
				</div>
				<div class="modal-body">
					Khi đồng ý rời khỏi cuộc trò chuyện này, cả bạn và {{viewFriend.fullname}} sẽ:
					<ul class="text-danger">
						<li class="text-danger">Mất tất cả dữ liệu về cuộc trò chuyện, bao gồm tin nhắn và hình ảnh.</li>
						<li class="text-warning">Bạn và {{viewFriend.fullname}} sẽ không còn kết nối với nhau.</li>
						<li class="text-success">Giảm tải dữ liệu cho hệ thống.</li>
					</ul>
					Chúng tôi muốn bạn hiểu rằng hành động này là không thể hoàn tác.

					<!-- Form xác nhận rời khỏi cuộc trò chuyện -->
					<form class="text-start" ng-submit="removeMessages(true, viewFriend.chatID, viewFriend.link)">
						<div class="d-flex mt-5" data-bs-dismiss="modal">
							<button class="btn-Error w-100 fs-6" type="submit">Rời khỏi cuộc trò chuyện</button>
							<button class="btn btn-secondary ms-3" type="reset">Thoát</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>



</body>
</html>